/********************
    FOOTER
********************/

// footer

footer{


    padding-top:2em;
    background:$black;
    color:white;
}


// #top-footer

#top-footer {



    h4{
        text-transform:capitalize;
        font-size:20px;
    }

    ul{
        padding:0;
    }

    li{
        list-style:none;
    }

    a{
        color:$primary;
        text-transform:capitalize;
    }

    p{
        font-size:14px;
    }

    .logo{

        font-weight:300;
        a,
        a:visited,
        a:active,
        a:focus{

            color:white;
        }

        a:hover{
            text-decoration:none;
            color:$primary;
        }
        span{
            font-weight:bold;
        }
    }



}

// #bottom-footer

#bottom-footer{
    border-top: 1px solid $grey;
    a{
        color:$grey;
        transition:all 0.3s;
        &:hover{
            color:$primary;
        }
    }

    .copyright{
        font-size:0.7em;
        a{
            color:$primary;
            &:hover{
                color:$secondary;
            }
        }
    }

}
