/********************
    HOME
********************/

// #home

$eighty:0.2;

$blocks:(1,2,3);

#home{

    h3{
        text-transform:capitalize;
        font-size:2.2em;
    }

    .img-container{
      display:block;
      width:100%;
      margin:auto;
      position:relative;
      text-decoration:none;
      &:hover{
          .front{
              transform:rotateY(180deg);
             .bg{
                background:transparentize($secondary, $eighty);
             }
          }
          .back{
             transform:rotateY(0deg);
          }
      }
    }

    .image{
     position:relative;
     background-size: cover ;
     background-repeat: no-repeat;
     transition: transform 0.7s ease-out;
     transform-style:preserve-3d;
     backface-visibility:hidden;
     &.front{
         transform: rotateY(0);
     }
     &.back{
          transform:rotateY(180deg);
          position:absolute;
          top:0;
          .bg{
              background:transparentize($secondary,$eighty);
          }
     }
    }

    .bg{
        background:rgba(0,0,0,0.5);
        height:100%;
        width:100%;
        position:absolute;
        top:0;
    }

    .text{
     color:white;
     transform-style:preserve-3d;
     transform: translateZ(60px);
     text-align:center;
     text-decoration:none;
     display:flex;
     justify-content:center;
     flex-direction:column;
     height:100%;
     width:100%;
     backface-visibility:hidden;
     position:absolute;
     padding:0 1em;
     top:0;
     h3{
         font-size:1.3em;
         text-decoration:none;
         align-self:center;
         text-transform:capitalize;
     }
     p{
         margin:10px auto;
         text-align:center;
     }
    }
}

#slider{
    position:relative;

    .text-block{
        position:absolute;
        top:0;
        height:100%;
        width:100%;
        background: rgba(0,0,0,0.7);
        color:white;
        display:flex;
        flex-direction:column;
        align-items: center;


    }

    h2{
        font-size:5em;
        font-weight:bold;
        margin-top:12%;
        letter-spacing: 2px;
    }

    p{
        padding:2em 0;
    }

    .btn{
        background:$primary;
        color:white;
        border-radius:1.6em;
        font-size:0.9em;
        padding:1em 2em;
        font-weight:bold;
        text-transform:capitalize;
        transition:all 0.3s ;
        &:hover{
            background:$secondary;
        }
    }
}


#components{

    position:relative;
    bottom:5em;

    .component{
        overflow:hidden;
        color:white;
        position:relative;
        height:100%;

        &:hover .comp{
            &.back{
                transform:translateX(0);

                @each $i in $blocks{

                    .block-#{$i}{
                       transform:translateX(0);
                    }
                }

            }

            &.front {

                .block-1{
                    transform:translateX(576px);
                }

                .block-2{
                    transform:translateX(576px);
                }

            }
        }

    }



    .comp{
        position:relative;
        transition:all 0.4s ease-out;

        &.front{
            .block-1{
                font-size:42px;
                margin-bottom:0.5em;
                transition:all 0.3s ease;
            }
            .block-1{
                font-size:42px;
                margin-bottom:0.5em;
                transition:all 0.4s ease;
            }
        }

        &.back{
          transform:translateX(-576px);
          position:absolute;
          top:0;
          height:100%;
          width:100%;
          .bg{
              background:$secondary;
          }

          .block-1{
              font-size:42px;
              margin-bottom:1em;
              transition:all 0.3s ease;
              transition-delay:0.4s;
              transform:translateX(-576px);


          }
          .block-2{
              transition:all 0.3s ease;
              transition-delay: 0.3s;
              max-height:114px;
              overflow-y:hidden;
              transform:translateX(-576px);
              margin-bottom:0.5em;
              max-width:66%;
              p{
                  text-align:center;
                  width:100%;
                  margin:auto;
              }
          }
          .block-3{
              transition:all 0.3s ease;
              transition-delay: 0.2s;
              transform:translateX(-576px);
              font-size:42px;
          }
        }

        .bg{
          background:transparentize($primary ,0.2);
          position:absolute;
          top:0;
          height:100%;
          width:100%;
        }

        .text{
          color:white;
          position:absolute;
          top:0;
          width:100%;
          height:100%;
          display:flex;
          flex-direction:column;
          justify-content:center;
          align-items:center;
          transition:all 0.4s ease-out;
        }
    }


    h4{
        text-transform:capitalize;
    }

}


#offering{
    background:$lite-grey;
    padding-top:3em;

    .offering{

        .icon{
            color:white;
            background:$primary;
            border-radius:50%;
            font-size:1.6em;
            padding:1em;
            height:96px;
            width:96px;
            display:flex;
            align-items:center;
            justify-content:center;
        }

    }


}



#projects{
    padding:2em 0;
}

#stats{
    padding-top:1em;
}

#project-data{

    .data-block{
        display:flex;
        justify-content:center;
    }

    .icon{
        color:$primary;
        align-self:center;
        font-size:3.5em;
        padding:0 15px;
    }

    h4{
        text-align:center;
        font-size:36px;
    }

}

#managers{

    padding-bottom:4em;
    padding-top:2em;

    .btn-container{
        padding-top:2em;
    }

    .btn{
        background:$primary;
        font-weight:bold;
        color:white;
        border-radius:25px;
        transition:all 0.3s;
        padding:1em 2em;
        font-size:0.8em;
        &:hover{
            background:$secondary;
        }
    }

    .post{
        padding:0 1.4em;
    }
}


// #newsletters

#newsletters{
    padding:2em 0;
    color:white;
    background-image:
    // linear-gradient(transparentize($secondary, 0.7),transparentize($secondary, 0.7)),
    url('/img/news-3.jpg');
    background-size:cover;
    input{
        font-size:14px;
        padding:0.5em 1em;
        min-width:250px;
        border-radius:25px;
    }

    button{
        border-radius: 0 25px 25px 0;
        border-style: none;
        padding: 1px 12px;
        margin-left: -25px;
        color:white;
        background:$primary;
        transition: all 0.3s ;
        &:hover{
            color:$primary;
            background:$secondary;
        }
    }
}


/********************
    1024
********************/
@media (max-width:1024px){



    .img-container{
        .text{
            p{
                max-height:60px;
                overflow-y:hidden;
            }
        }
    }

    #slider{

        h2{
            margin-top:10%;
        }
    }


}// end of 1024


/********************
    768
********************/

@media (max-width:768px){

    .img-container{
        .text{
            p{
                max-height:100px
            }
        }
    }



    #slider{

        h2{
            font-size:3em;
            margin-top:8%;
            margin-bottom:3%;
        }
    }

    #offering{
        text-align:center;

    }

    .offering{
        text-align:center;
        .icon{
            margin:auto;
        }

    }

    #components{

        .comp.back .block-1{
            margin-bottom:0;
        }
    }


}// end of 768

/********************
    576
********************/

@media (max-width:576px){

    #components{
        bottom:2em;
    }

}
