<footer>
    <section id="top-footer" class="container wide ">
        <div class="row ">
            <div class="col-md-3">
                <h3><a href="#">logo</a></h3>
                <p>
                    The EcoTech alternative energy provider was founded by a group of enthusiastic friends from the Yale university back in 2001. Just like Mark Zuckerberg founded a brand new medium of communication right out of his college dorm, we’ve founded a brand new energy source company while still in college!
                </p>
            </div>
            <div class="col-md-3">
                <h4>Volunteer</h4>
                <ul class="">
                    <li class="nav-item"><a class="nav-link" href="#">white tiger</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">ocean turtle</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">social ecology</a></li>
                </ul>

            </div>
            <div class="col-md-3">
                <h4>about us</h4>
                <ul class="">
                    <li class="nav-item"><a class="nav-link" href="#">log in</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">create account</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>contact information</h4>
                <ul class="">
                    <li class="nav-item"><i class="fa fa-star"></i>address</li>
                    <li class="nav-item"><i class="fa fa-star"></i><a class="nav-link" href="#">phone number</a></li>
                    <li class="nav-item"><i class="fa fa-star"></i><a class="nav-link" href="#">email</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="bottom-footer" class="container wide ">
        <div class="row ">
            <div class="copyright">
                Copyright
            </div>
            <div class="social-links pad-half padH flex-right">
                <ul class="navbar-nav around">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
</footer>
