<header>
    <section id="top-nav" class="container wide">
        <div class="row">
            <div class="address pad-half padH">
                <strong>Address:</strong> 123 main st, miami fl, 33176
            </div>
            <div class="phone pad-half padH">
                <strong>Phones:</strong> (800)123-0045; (800)123-0046
            </div>
            <div class="social-links fluid-max-2 pad-half padH flex-right">
                <ul class="navbar-nav around">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="bottom-nav" class=" container wide ">
        <div class="row justify-content-center">
            <div class="pad-half padH flex-left">
                <h1 id="logo"><a href="#"><span>Eco</span>Life</a></h1>
            </div>
            <div class="fluid-max-6 pad-half padH">
                <ul class="navbar-nav around">
                    <li><a href="#">home</a></li>
                    <li><a href="#">pages</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">projects</a></li>
                    <li><a href="#">latest news</a></li>
                    <li><a href="#">contacts</a></li>
                </ul>
            </div>
            <div class="pad-half padH flex-right">
                <button type="button" name="button"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </section>
</header>
