{% extends "layout.html" %}

{% block main %}
    <section id="slider">
        <img class="img-fluid" src="http://via.placeholder.com/1903x916" alt="slider image">
    </section>

    <section id="components" class="container wide">
        <div class="row">
            <div class="col-md-4 pad">
                <img class="img-fluid" src="http://via.placeholder.com/418x418" alt="component">
            </div>
            <div class="col-md-4 pad">
                <img class="img-fluid" src="http://via.placeholder.com/418x418" alt="component">
            </div>
            <div class="col-md-4 pad">
                <img class="img-fluid" src="http://via.placeholder.com/418x418" alt="component">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pad">
                <img class="img-fluid" src="http://via.placeholder.com/418x418" alt="component">
            </div>
            <div class="col-md-4 pad">
                <img class="img-fluid" src="http://via.placeholder.com/418x418" alt="component">
            </div>
            <div class="col-md-4 pad">
                <img class="img-fluid" src="http://via.placeholder.com/418x418" alt="component">
            </div>
        </div>
    </section>

    <section id="offering" class="container wide">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="http://via.placeholder.com/544x689" alt="component">
            </div>
            <div class="col-md-6">
                <h3>What We Offer</h3>
                <h5>
                    We’re the #1 solar energy & wind turbines provider in the States!
                </h5>
                <p>
                    We’re providing sales and servicing in all of the US states and territories. Our products are the most efficient and reasonably priced in the industry. The  warranties and a production guarantee are provided at no additional cost.
                </p>
                <div class="offering-list">
                    <div class="offering row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://via.placeholder.com/96x96" alt="image icon">
                        </div>
                        <div class="col-md-9">
                            <h4>Ecology Today</h4>
                            <p>
                                Text
                            </p>
                        </div>
                    </div>
                    <div class="offering row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://via.placeholder.com/96x96" alt="image icon">
                        </div>
                        <div class="col-md-9">
                            <h4>Environment Saving Technology</h4>
                            <p>
                                Text
                            </p>
                        </div>
                    </div>
                    <div class="offering row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="http://via.placeholder.com/96x96" alt="image icon">
                        </div>
                        <div class="col-md-9">
                            <h4>Plant Ecology</h4>
                            <p>
                                Text
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="projects">
        <div class="container wide">
            <div id='project-data' class="row">
                <div class="col-md-3">
                    <span class="fa fa-star"></span>
                    <div class="">
                        <h4>100</h4>
                        <p>projects</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="fa fa-star"></span>
                    <div class="">
                        <h4>100</h4>
                        <p>funds collected</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="fa fa-star"></span>
                    <div class="">
                        <h4>100</h4>
                        <p>days of help</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="fa fa-star"></span>
                    <div class="">
                        <h4>100</h4>
                        <p>volunteer</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row project-row fluid">
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
        </div>
        <div class="row project-row fluid">
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="http://via.placeholder.com/475x302" alt="project images">
            </div>
        </div>
    </section>

    <section id="managers">
        <h3 class="text-center">executive managers</h3>
        <div class="container wide">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <img class="img-fluid" src="http://via.placeholder.com/416x302" alt="manager project">
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="http://via.placeholder.com/416x302" alt="manager project">
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="http://via.placeholder.com/416x302" alt="manager project">
                </div>
            </div>
        </div>
    </section>

    <section id="newsletters">
        <div class="row justify-content-center column-center">
            <h3>Newsletter</h3>
            <p>This is a summary</p>
            <form class="" action="index.html" method="post">
                <div class="input-group">
                    <input type="text" name="email" value="">
                    <input class="btn btn-default" type="submit" name="email" value="submit">
                </div>
            </form>
        </div>

    </section>
{% endblock %}
